@charset "UTF-8";


/* Base styles */

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}


/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}


/* Lists */

.secret-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.inline-list li {
    display: inline-block;
}

.map {
    width: 100%;
    height: 400px;
}
