---
title: MEATup
description: The Monthly FED MEATup, where the Nature front-end developers (and friends) eat lots of MEAT, and go for a few drinks.
layout: page
---


<h1>MEATup</h1>

<p>The Monthly FED MEATup, where the Nature front-end developers (and friends) eat lots of MEAT, and go for a few drinks.</p>


<h2 id="next-meatup">The Next MEATup</h2>

{% include event/next.html %}


<h2 id="leaderboard">Leaderboard</h2>

{% include people/leaderboard.html %}


<h2 id="past-meatups">Past MEATups</h2>

{% include event/map.html %}

{% include event/past.html %}

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB_sDtkFpFLp8VWghrQIymQrXSKT-ActHE&sensor=false"></script>
<script src="asset/js/past-map.js"></script> -->
