
{% assign people = site.data.people | sort: 'score' %}
<table class="table table-is-wide table-is-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>MEATer</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for person in people reversed %}
            <tr>
                <td>{{forloop.index}}</td>
                <td>
                    {% include people/avatar.html size=40 person=person %}
                    {{person.name}}
                </td>
                <td>{{person.score}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
