
{% assign people = site.data.people | sort: 'score' %}
{% assign total_events = site.data.events | size | minus: 1 %}
<table class="leaderboard cramp">
    <thead>
        <tr>
            <th class="leaderboard-col-rank">#</th>
            <th class="leaderboard-col-person">MEATer</th>
            <th class="leaderboard-col-score">Score</th>
        </tr>
    </thead>
    <tbody>
        {% for person in people reversed %}
            <tr itemscope itemtype="http://schema.org/Person">
                <td class="leaderboard-col-rank">
                    <span class="circle circle-outlined">{{forloop.index}}</span>
                </td>
                <td class="leaderboard-col-person">
                    {% include people/avatar.html size=40 person=person itemprop=true %}
                    <span itemprop="name" class="person-name">{{person.name}}</span>
                </td>
                <td class="leaderboard-col-score">
                    {% assign events_attended = person.attended | size %}
                    <span class="circle circle-outlined score-{{person.score}} {% if events_attended == total_events %}score-max{% endif %}">
                        {{person.score}}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
