
{% assign people = site.data.people | sort: 'score' %}
<table class="table table-is-wide table-is-striped cramp">
    <thead>
        <tr>
            <th>#</th>
            <th>MEATer</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for person in people reversed %}
            <tr itemscope itemtype="http://schema.org/Person">
                <td>{{forloop.index}}</td>
                <td>
                    {% include people/avatar.html size=40 person=person itemprop=true %}
                    <span itemprop="name">{{person.name}}</span>
                </td>
                <td>{{person.score}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
