
<div id="meatup-{{event.id}}" class="box" itemscope itemtype="http://schema.org/FoodEvent">
    <h3 class="space-less" itemprop="name">MEATup #{{event.id}}</h3>
    <p class="cramp">
        <time datetime="{{event.date}}" itemprop="startDate">
            {{event.date | date: '%A %d %B, %Y'}}
        </time>
        at
        <span itemprop="location" itemscope itemtype="http://schema.org/FoodEstablishment">
            {% if event.venue.website %}
                <a href="{{event.venue.website}}" itemprop="url">
                    <span itemprop="name">{{event.venue.name}}</span>
                </a>
            {% else %}
                <span itemprop="name">{{event.venue.name}}</span>
            {% endif %}
        </span>
    </p>
    {% if include.ended %}
        <h4 class="hide">Attendees</h4>
        <ul class="space-above-less lineup">
            {% for person in site.data.people %}
                {% if person.attended contains event.id %}
                    <li itemprop="attendee" itemscope itemtype="http://schema.org/Person">
                        <meta itemprop="name" content="{{person.name}}"/>
                        {% include people/avatar.html size=40 person=person itemprop=true %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% unless include.ended %}
        <a href="mailto:attend@meatup.info?subject=MEATup %23{{event.id}}&amp;body=I'd like to attend MEATup %23{{event.id}} on {{event.date | date: '%A %d %B, %Y'}}." class="button space-above-less">
            Register your attendance!
            <small>(seriously, what are you waiting for?)</small>
        </a>
        <br/>
        <em><small>(or email attend@meatup.info)</small></em>
    {% endunless %}
</div>
