
<div id="meatup-{{event.id}}">
    <h3>MEATup #{{event.id}}</h3>
    <p>
        {{event.date | date: '%A %d %B, %Y'}}
        at
        {% if event.venue.website %}
            <a href="{{event.venue.website}}">{{ event.venue.name }}</a>.
        {% else %}
            {{event.venue.name}}.
        {% endif %}
        <br/>
        <a href="{{event.url}}">View the event page</a>.
    </p>
    {% if include.ended %}
        <h4>Attendees</h4>
        <ul class="secret-list inline-list">
            {% for person in site.data.people %}
                {% if person.attended contains event.id %}
                    <li>{% include people/avatar.html size=40 person=person %}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
