<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>

    <!-- Page meta-information -->
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}"/>
    {% if page.noindex %}
        <meta name="robots" content="noindex"/>
    {% endif %}

    <!-- Site links -->
    <link rel="canonical" href="http://{{site.hostname}}{{page.url | replace: 'index.html', ''}}"/>

    <!-- Styles -->
    <meta name="viewport" content="width=device-width"/>
    <!--[if gt IE 7]><!-->
        <link rel="stylesheet" href="/assets/site.min.css"/>
    <!--<![endif]-->
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="/favicon.ico"/>

</head>
<body>

    <!--[if lte IE 8]>
        <p style="background:#ffc;margin:0;padding:10px;">
            <small>
                You are using an outdated version of Internet Explorer. Parts of this site, and others,
                may appear broken.<br/>
                For a faster and safer browsing experience,
                <a href="http://browsehappy.com/" target="_blank">Upgrade your browser</a>.
            </small>
        </p>
    <![endif]-->

    <div role="main">
        {{content}}
    </div>

    <div role="contentinfo">
        <small>
            Copyright &copy; {{site.time | date: '%Y'}};
            This site is <a href="https://github.com/thefeds/meatup">hosted on GitHub</a>
        </small>
    </div>

</body>
</html>
